*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Product Sans Bold';
    src: url('../fonts/product-sans-bold/product_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/product-sans-bold/product_sans_bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/product-sans/product_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/product-sans/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #F4EAE2;
    font-family: 'Product Sans';
}

h1, h2{
    font-family: 'Poller One', cursive;
}

a{
    cursor: pointer;
    
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

header{
    height: 80px;
    margin-bottom: 40px;
}

.section{
    margin-bottom: 56px;
}

.container{
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
}



.h2-title{

    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #2C2C2E; 
    margin-bottom: 24px;
}



.container--flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
        height: 100%;
}


.logo{
    width: 104px;
    height: 80px;
    margin-left: -14px;
}

.logo-desktop{
    display: none;
}

.nav-list{
    display: flex;
}

.nav-list__item{
    font-size: 16px;
    line-height: 32px;
}

.nav-list__item + .nav-list__item{
    margin-left: 24px;
}

.nav__link{
    text-decoration: none;
    color: #F6EDE5;
    
}

.bg-container{
    background: url(../images/heroDesktop.png);
    background-repeat: no-repeat;
    background-size: auto;

    /* background-position: 10px; */
    /* background-attachment: fixed; */
    position: relative;

}

.hero-text-container{
    
    margin-bottom: 56px;
}

.hero__title{
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F6EDE5;
    margin-bottom: 24px;
}

.hero__text{
    font-size: 20px;
    line-height: 24px;
    color: #F6EDE5;
    display: flex;
    align-items: center;
}

.hero__text-icon{
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.hero__slider{
    height: 256px;
    max-width: 343px;
    border-radius: 16px;
    border: 4px solid #FFFFFF;
    /* position: absolute;
    bottom: -50; */
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 0px 0px 12px 12px;
}

.overlay__list{
    display: flex;
}

.arrow{
    width: 20px;
    height: 20px;
}

.arrow:hover{
    cursor: pointer;
}

.slide{
        border-radius: 16px;
        width: 100%;
        height: 100%;
}

.slide.hidden{
    display: none;
}

.overlay__list{
    display: flex;
}

.overlay__list_item{
    width: 6px;
    height: 6px;
}

.overlay__list_item+ .overlay__list_item{
    margin-left: 14px;
}

.dott{
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}

.active{
    width: 100%;
    height: 100%;
}

.item--active{
    width: 18px;
    height: 18px;
}


.about-us__card{
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 15px 64px rgba(77, 36, 0, 0.06);
    border-radius: 16px;
    color:#2C2C2E;
    font-size: 16px;
    line-height: 24px;
}

.card__link{
    color: #F97836;
    display: inline-block;
}

.line{
    border: 1px solid #AEAEB2;
    background-color: #AEAEB2;
}

.info-card{
    background: #FFFFFF;
    box-shadow: 0px 15px 64px rgba(77, 36, 0, 0.06);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map{
    margin-bottom: 32px;
    height: 240px;
}

.adress-container{
    margin-bottom: 32px;
}

.card-title{
    font-size: 20px;
    line-height: 32px; 
    color: #2C2C2E;
    font-weight: 700;
    margin-bottom: 8px;
}

.adress{
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #F97836;
    font-style: normal;
}

.hours-info{
    margin-bottom: 12px;
}

.hours-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.hours-list__item{
    font-size: 16px;
    line-height: 24px;
}

.hours-list__item + .hours-list__item{
    margin-top: 8px;
}

.day{
    width: 86px;
    display: inline-block;
    color: #8E8E93;
}

.time{
    margin-left: 16px;
    
    color: #2C2C2E;
}

.info-card__btn{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #D1D1D6;
    border-radius: 16px;
    text-decoration-line: underline;
    width: 100%;
    color: #F97836;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.inst-icon{
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.find-us-section{
    margin-bottom: 10px;
}

@media screen and (min-width: 1440px) {
    header{
        height: 112px;
        margin-bottom: 16px;
    }

    .container{
        max-width: 1440px;
        padding: 0 120px;
    }

    .logo{
        display: hidden;
        width: 0;
        height: 0;
    }

    .logo-desktop{
        display: block;
        margin-left: -24px;
        width: 144px;
        height: 112px;
    }

    .nav-list__item{
        font-size: 20px;

    }

    .nav-list__item + .nav-list__item{
        margin-left: 32px;
    }

    .bg-container{
        background: url(../images/heroDesktop.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto, auto;
        /* background-position: 10px; */
        /* background-attachment: fixed; */
        position: relative;
        margin-bottom: 120px;
    }

    .hero-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .hero__slider{
        height: 449px;
        max-width: 600px;
        border-radius: 24px;
    }

    .hero-text-container{
        max-width: 502px;
        margin-bottom: 0;
    }

    .hero__title{
        font-size: 80px;
        line-height: 96px;  
    }

    .hero__text{
        font-size: 24px;
        line-height: 32px;
    }

    .hero__text-icon{
        width: 32px;
        height: 32px;
    }
    
    .overlay{
        padding: 16px 24px;
        border-radius: 0px 0px 20px 20px;
    }

    .arrow{
        width: 32px;
        height: 32px;
    }

    .overlay__list_item{
        width: 8px;
        height: 8px;
        margin-bottom:0;
    }
    
    .dott{
        width: 100%;
        height: 100%;
        margin-bottom:0;
    }
    
    .item--active{
        width: 20px;
        height: 20px;
    }
    
    .h2-title{
        margin-bottom: 48px;
    }
   
    .about-us__card{
        padding: 16px 24px;
        font-size: 20px;
        line-height: 32px;
    }

    .section{
        margin-bottom: 120px;
    }
    
    .left-side-container{
        padding: 28px;
        
    }

    .info-card{
        background: #FFFFFF;
        box-shadow: 0px 15px 64px rgba(77, 36, 0, 0.06);
        border-radius: 24px;
        padding: 4px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .map{
        margin-bottom: 0;
        height: 665px;
        width: 796px;
    }

    .card-title{
        font-size: 24px;
    }

    .adress{
        font-size: 20px;
        line-height: 32px;
    }

    .adress-container{
        margin-bottom: 40px;
    }

    .day{
        width: 107px;
        font-size: 20px;
        line-height: 32px;
    }

    .time{
        font-size: 20px;
        line-height: 32px;      
    }

    .hours-list{
        display: flex;
        flex-direction: column;
        margin-bottom: 93px;
    }

    .info-card__btn{
        padding: 12px 0;
        font-size: 20px;
        line-height: 32px;
        cursor: pointer;
    }
}




